<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_launcher_rounded"
        android:supportsRtl="true"
        android:theme="@style/Theme.MuscleMapp"
        tools:targetApi="31">
        <activity
            android:name=".CalendarPage_UI"
            android:exported="false" />
        <activity
            android:name=".SelectActiveMembership_UI"
            android:exported="false" />
        <activity
            android:name=".EstablishmentActivities_UI"
            android:exported="false" />
        <activity
            android:name=".ReviewComposition_UI"
            android:exported="false" />
        <activity
            android:name=".AppointmentCreation_UI"
            android:exported="false" />
        <activity
            android:name=".EstablishmentMembershipPlans_UI"
            android:exported="false" />
        <activity
            android:name=".EstablishmentPage_UI"
            android:exported="false" />
        <activity
            android:name=".RegistrationSuccess_UI"
            android:exported="false" />
        <activity
            android:name=".UserSelection_UI"
            android:exported="false" />
        <activity
            android:name=".TrendingSpaces_UI"
            android:exported="false" />
        <activity
            android:name=".Cart_UI"
            android:exported="false" />
        <activity
            android:name=".ClientMembershipList_UI"
            android:exported="false" />
        <activity
            android:name=".SavedSpaces_UI"
            android:exported="false" />
        <activity
            android:name=".MapView_UI"
            android:exported="false" />
        <activity
            android:name=".PasswordReset_UI"
            android:exported="false" />
        <activity
            android:name=".SearchBar_UI"
            android:exported="false" />
        <activity
            android:name=".NotificationSettings_UI"
            android:exported="false" />
        <activity
            android:name=".Notifications_UI"
            android:exported="false" />
        <activity
            android:name=".MainMenu_UI"
            android:exported="false" />
        <activity
            android:name=".HomePage_UI"
            android:exported="false" />
        <activity
            android:name=".LoginScreen_UI"
            android:exported="false" />
        <activity
            android:name=".RegisterScreen_UI"
            android:exported="false" />
        <activity
            android:name=".OpeningScreen3_UI"
            android:exported="false" />
        <activity
            android:name=".OpeningScreen2_UI"
            android:exported="false" />
        <activity
            android:name=".OpeningScreen1_UI"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>